#### 데이터프레임

판다스에서 데이터(테이블 형태 - DB 엑셀, csv)를 처리하는 가장 기본이 되는 자료구조

<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99FD8D385BFBECE32D" width="700">

##### 데이터 프레임생성

pd.DataFrame()

In [1]:
# 판다스, 넘파이 import
import pandas as pd
import numpy as np

In [4]:
datas = {
    '이름' : ['길동이', '길순이', '유고', '애슐리'],
    '국어' : [80, 100, 10, 90],
    '영어' : [50, 100, 99, 100],
    '수학' : [90, 100, 10, 50],
    '미술' : [100, 100, 99, 30]
} # 기본데이터, 실제로는 excel, csv, db, openAPI에서 받아와서 처리

df1 = pd.DataFrame(datas)
df1

    이름   국어   영어   수학   미술
0  길동이   80   50   90  100
1  길순이  100  100  100  100
2   유고   10   99   10   99
3  애슐리   90  100   50   30